@page
@model ControllerModel
@{

}

<div class="text-center">
    <h1 class="display-4">Что вы хотите сделать:</h1>

    <div class="">
        <a href="/AddFootballerForm"  type="button" class="btn btn-success btn-lg btn-block">Добавить футболиста в команду</a>
        <a href="/AddCoach"  type="button" class="btn btn-success btn-lg btn-block">Добавить тренера в команду</a>
        <a href="/AddEvent"  type="button" class="btn btn-success btn-lg btn-block">Добавить мероприятие в расписание</a>
        <a href="/AddConsumption"  type="button" class="btn btn-success btn-lg btn-block">Добавить запись в расходы</a>
        <a href="/AddIncome"  type="button" class="btn btn-success btn-lg btn-block">Добавить запись в доходы</a>
    </div>

</div>
